@import url(./fonts.css);

$primary-button-color: #16a085;
$primary-button-text-color: #fff;
$primary-shadow-button-color: #193047;
$hover-button-color: #fff;
$hover-button-text-color: #000;
$hover-shadow-button-color: #1abc9c;
$primary-button-after-color: #1abc9c;
$recipies-list-bacground: #fff;
$recipies-list-selected: #2e68e6;
$recipies-list-hover: #2e68e688;
$recipies-list-selected-text: #fff;
$primary-red-button-color: #cc1a1a;
$primary-red-shadow-button-color: #471919;
$hover-red-shadow-button-color: #ee1c1c;
$primary-red-button-after-color: #ee1c1c;

body {
  background-color: #555;
}

span, input, button, div {
  font-family: robotoregular;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left_panel {
  width: 70%;
  display: flex;
  flex-direction: column;

  .recipe_name_wrapper {
    width: 100%;
    margin: 15px;
    display: inline-block;
    position: relative;

    .recipe_name {
      width: 90%;
      font-size: 32px;
      font-family: robotoregular;
    }

    .error_msg {
      top: 100%;
      left: 50%;
      margin-left: -120px; 
      width: 240px;
      background-color: #ff2e2e;
      color: #fff;
      text-align: center;
      font-size: 18px;
      padding: 5px 0;
      border-radius: 6px;
   
      position: absolute;
      z-index: 1;
    }

    .error_msg::after {
      content: " ";
      position: absolute;
      bottom: 100%; 
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #ff2e2e transparent;
    }
  }

  .input_forms_wrapper {
    margin: 0 0 15px 15px;

    .main_input {
      font-size: 17px;
    }

    input[placeholder="Количество"], input[placeholder="% отклонения"] {
      width: 120px;
    }

    .total {
      margin-left: 10px;
      font-size: 17px;
      font-family: robotobold;
    }
  }

}

.right_panel{
  width: 30%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px #000;
  
  .recipies_list {
    width: 95%;
    height: 80vh;
    margin-bottom: 15px;
    background-color: $recipies-list-bacground;
    border: solid 2px #000;
    overflow-x: hidden;
    overflow-y: scroll;

    .recipies_list_elem {
      cursor: pointer;
    }

    .recipies_list_elem:hover {
      background-color: $recipies-list-hover;
    }

    .selected {
      background-color: $recipies-list-selected;
      color: $recipies-list-selected-text;
    }

    .selected:hover {
      background-color: $recipies-list-selected;
    }
  }

  .recipies_list::-webkit-scrollbar {
    width: 6px;
  }

  .recipies_list::-webkit-scrollbar-thumb {
    background: #c4c4c4;
  }

  .recipies_list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;

  .button {
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-family: robotobold;
    position: relative;
    background-color: $primary-button-color;
    border: none;
    color: $primary-button-text-color;
    margin: 0 15px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px $primary-shadow-button-color;
  }
  
  .button:hover {
    background: $hover-button-color;
    box-shadow: 0px 2px 10px 5px $hover-shadow-button-color;
    color: $hover-button-text-color;
  }
  
  .button:after {
    content: "";
    background: $primary-button-after-color;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
  
  .red {
    background-color: $primary-red-button-color;
    box-shadow: 0 5px 15px $primary-red-shadow-button-color;
  }
  
  .red:hover {
    box-shadow: 0px 2px 10px 5px $hover-red-shadow-button-color;
  }
  
  .red::after {
    background: $primary-red-button-after-color;
  }

  .inactive, .inactive_red {
    cursor: unset;
    opacity: 0.4;
  }

  .inactive:hover {
    background: $primary-button-color;
    box-shadow: 0 5px 15px $primary-shadow-button-color;
    color: $primary-button-text-color;
  }

  .inactive_red:hover {
    background: $primary-red-button-color;
    box-shadow: 0 5px 15px $primary-red-shadow-button-color;
  }
}

.modal_window_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.288);

  .modal_window {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: #888;
    border: solid 1px black;
    box-shadow: 0 5px 15px #000;

    .modal_message {
      margin: 16px;
      text-align: center;
      font-size: 20px;
    }


  }

  .modal_window::before {
    content: 'Внимание!';
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family: robotobold;
    background-color: #da7840;
    border-bottom: solid 1px black;
  }
}
